.page{
  
}

.header {
  
  text-align:center;
}

.header-contents {
  margin:0 auto;
}

.header-left {
  font-weight:normal;
}

.header-right {
  text-align:right;
  font-size:40px;
}


.systems {
  text-align:center;
  
}

.youtube{
  background-color:red;
  padding:10px;
  border-radius:5px;
}

.instagram{
  background-color:orange;
  padding:10px;
  border-radius:5px;
}

.twitter{
  background-color:lightblue;
  padding:10px;
  border-radius:5px;
}

.facebook{
  background-color:blue;
  padding:10px;
  border-radius:5px;
}
