.page{
  
}

.header {
  
  text-align:center;
}

.header-contents {
  margin:0 auto;
}

.header-left {
  display:inlign-box;
  font-weight:normal;
}

.header-right {
  display:inlign-box;
  text-align:right;
}

.header-right a{
  font-size:40px;
  color:white;
}


.systems {
  text-align:center;
  
}

.youtube{
  background-color:red;
  padding:30px;
  border-radius:10px;
}

.instagram{
  background-color:orange;
  padding:30px;
  border-radius:10px;
}

.twitter{
  background-color:lightblue;
  padding:30px;
  border-radius:10px;
}

.facebook{
  background-color:blue;
  padding:30px;
  border-radius:10px;
  margin-right:50px;
}
